body {
    background-color: rgb(23, 23, 23);
}

.container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: solid teal;
}

.row {
    width: fit-content;
    height: fit-content;
    display: flex;
}

.box {
    border: solid teal;
    width: 30px;
    height: 30px;
    display: flex;
    margin: 1px;
}

.box:hover {
    background-color: aqua;
}