* {
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 23, 23);
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: solid teal;
}

.row {
    display: flex;
}

.options {
    display: flex;
    justify-content: center;
    gap: 140px;
}

.options button {
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    color: teal;
    background-color: transparent;
    border: solid teal;
    border-radius: 40px;
}

.options button:hover {
    transform: scale(1.1);
    cursor: pointer;
}